@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>
    This website is an MVP (minimum viable product) made during a single Agile "sprint." All functionality as mentioned in the coding test's description is followed.
</p>
<ul>
    <li>Users are able to roam the website and view race weekends.</li>
    <li>Unregistered users are able to look at the race weekends and see their structures.</li>
    <li>Registered users (usually assumed to be Tyre Engineers) will be able to create/modify/remove race weekends.</li>
    <li>Registered users can also save their race weekends as files on their computer. These can be used to load in the same data for new race weekends.</li>
</ul>
<p>
    The project itself uses ASP.NET with an MVC style architecture.
    This was chosen because of its higher degree of support as compared to JSPs (Java Server Pages), and higher level of adoption within the industry.
    It was also easier and faster to use with its ORM, as compared to writing DAO/DTOs in Java.
</p>
<p>
    This project was developed within Wednesday (13th) - Sunday (17th).
</p>
