@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello there</h1>
    <p>Check out any coming race weekends submitted by the tyre engineers by clicking "Race weekends" above.</p>
    <p> (only tyre engineers are allowed to create/modify race weekends)</p>
</div>
